name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: {}

env:
  REGISTRY: ghcr.io

jobs:
  check:
    name: Check flake
    runs-on: ubuntu-24.04
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12

      - name: Check
        run: nix flake check

      - name: Format Nix
        run: nix fmt -- --check .

      - name: Lint YAML
        run: nix run nixpkgs#yamllint -- --format github --strict .

      - name: Format YAML
        run: nix run nixpkgs#yamlfmt -- -lint .

  build:
    name: Build and Push
    needs:
      - check
    permissions:
      id-token: "write"
      contents: "read"
      packages: "write"
    strategy:
      fail-fast: false
      matrix:
        variant: ["nix", "lix"]
        include:
          - runner: ubuntu-24.04
            architecture: amd64
          - runner: ubuntu-24.04-arm
            architecture: arm64
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20

      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          use-flakehub: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Build
        env:
          VARIANT: ${{ matrix.variant }}
        run: nix build -L ".#${VARIANT}"

      - name: Login
        if: ${{ github.ref_name == 'main' }}
        env:
          REPO_OWNER: ${{ github.repository_owner }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >-
          nix run nixpkgs#skopeo --
          login "${REGISTRY}"
          --username "${REPO_OWNER}"
          --password "${GH_TOKEN}"

      - name: Push
        if: ${{ github.ref_name == 'main' }}
        env:
          ARCHITECTURE: ${{ matrix.architecture }}
          REPO_OWNER: ${{ github.repository_owner }}
          VARIANT: ${{ matrix.variant }}
        run: >-
          nix run nixpkgs#skopeo --
          copy docker-archive:result
          docker://${REGISTRY}/${REPO_OWNER}/forgejo-${VARIANT}:latest-${ARCHITECTURE}

  merge:
    name: Create and Push Manifest
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        variant: ["nix", "lix"]
    needs:
      - build
    permissions:
      id-token: "write"
      contents: "read"
      packages: "write"
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Create manifest
        run: |
          docker buildx imagetools create \
            -t ${REGISTRY}/${REPO_OWNER}/forgejo-${VARIANT}:latest \
            ${REGISTRY}/${REPO_OWNER}/forgejo-${VARIANT}:latest-amd64 \
            ${REGISTRY}/${REPO_OWNER}/forgejo-${VARIANT}:latest-arm64

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${REGISTRY_IMAGE}:latest
